
<div>
		$date.format("yyyy-MM-dd HH:mm:ss",$date.getSystemDate())
		<br>
		$date.get("yyyy-MM-dd")
		<br>
		$date.getYear()-$date.getMonth()-$date.getDay()
		#foreach($fymx in $zyFymxs)
			<ul>
                <li style="float:left;margin-left:25px;">$fymx.fymc</li>
				<li style="float:left;margin-left:25px;">$fymx.fyrq</li>
				<li style="float:left;margin-left:25px;">$fymx.zyh&nbsp;&nbsp;</li>
				<li style="float:none;margin-left:25px;">$date.format("yyyy年MM月dd日 HH:mm:ss",$fymx.fyrq)</li>
            </ul>
			#end
		<div>
		
</div>
<script type="text/javascript">
var a=$math.add(2,3);
document.writeln(a);

</script>