#set($layout = "layout/system/l_admin.vm")
#set($page_title="文学社管理")
#parse("conf/js.vm")
#set($extjs=$Jlayer+$JsysClub)
<div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>社团列表</h5>  <span class="label label-primary"></span>
                 #parse("layout/system/iboxTools.vm")
            </div>
            <div class="ibox-content">
                <div id="clubList">
					<input id="page" type="hidden" value="0">
					<input id="pageCount" type="hidden" value="0">
						
                    <ul class="list-group">
                    ##    <li class="list-group-item"><span>社团1</span><span class="pull-right">管理</span></li>
					##	<li class="list-group-item"><span>社团1</span><span class="pull-right">管理</span><span class='pull-right' name='school'><a>学校</a></span></li>
                    </ul>
                </div>
				<!--社团分页-->
                <div id="club_pagination" class="text-center" data-url=""></div>
            </div>
        </div>
			</div>
<div class="col-lg-4">						
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新建社团</h5>
                #parse("layout/system/iboxTools.vm")
            </div>
            <div class="ibox-content ">
                <div class="middle-box text-center loginscreen   animated fadeInDown no-padding" style="margin-top: 0px; ">
                    <div>
                        <h3>欢迎创建新文学社</h3>
                        <p id="error_text" class="text-danger text-left"></p>
                        <form class="m-t" id="clubCreateForm" role="form" action="#rootUrl()/system/club/createCheck">
                            <div class="form-group has-feedback">
                                <input type="text" id="wxs_name" name="name" class="form-control" placeholder="请输入文学社名字" required="">
                                <span id="feedback-name" class="form-control-feedback glyphicon"></span>
								<p class="text-info text-left"><small>社团名称必须以“文学社”为结尾</small></p>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" id="account" name="account" class="form-control" placeholder="请输入文学社账户" required="">

                                <span id="feedback-account" class="form-control-feedback glyphicon"></span>
                            </div>
							<!--
                            <div class="form-group">
                                <input type="password" id="password1" name="password1" class="form-control" placeholder="请输入密码" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="请再次输入密码" required="">

                            </div>
							-->
                            <div class="form-group">
                                <input type="text" id="mail" name="mail" class="form-control" placeholder="文学社邮箱" required="">

                            </div>
                            <button type="button" id="createClubBtn"  class="btn btn-primary block full-width m-b">确认</button>



                        </form>
                    </div>
                </div>

        </div>
    </div>
    </div>  
