 ## 用户文章目录
 #if($user.userId==$author.userId)
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav no-padding">
                    <li #if(!$role||$role==1) class="active" #end><a href="#rootUrl/$author.nickname/article">我的文章</a></li>
                    <li #if($role==0) class="active" #end><a href="#rootUrl/$author.nickname/article?role=0">私密文章</a></li>
                    <li><a href="#rootUrl()/$user.nickname/article/article_add">写文章</a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li #if($role==2) class="active" #end><a href="#rootUrl/$author.nickname/article?role=2">草稿箱</a></li>
                    <li #if($role==-1) class="active" #end><a href="#rootUrl/$author.nickname/article?role=-1">回收站</a></li>
					<li #if($role==3) class="active" #end><a href="#rootUrl/$author.nickname/article/favorite">我的收藏</a></li>
                </ul>
            </div>
			#else
				<div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav no-padding">
                    <li class="active"><a href="#rootUrl/$author.nickname/article">文章</a></li>
					
				</ul>			 
				</div>			
			#end