##css的基本路径
#set($CcssURL="$link.getContextURL()/css")
##timeCircles 时间倒计时
#set($CtimeCircles="<link href='$link.getContextURL()/css/TimeCireles/TimeCircles.css' rel='stylesheet' />")
##wangEditor
#set($CwangEditor="<link href='$link.getContextURL()/css/wangEditor/wangEditor.min.css' rel='stylesheet' />")
##cropper
#set($Ccropper="<link href='$link.getContextURL()/js/plugins/cropper/cropper.min.css' rel='stylesheet' />")