##js目录
#set($JjsURL="#rootUrl()/js")
##定时器
#set($Jtimer="<script src='#rootUrl()/js/timer.js'></script><br>")
##用户检查
#set($JuserCheck="<script src='#rootUrl()/js/user-check.js'></script>")
##主函数
#set($Jmian="<script src='#rootUrl()/js/mian.js'></script><br>")
##layer
#set($Jlayer="<script src='#rootUrl()/js/plugins/layer/layer.js'></script>")
##cropper
#set($Jcropper="<script src='#rootUrl()/js/plugins/cropper/cropper.min.js'></script>")
#set($Jcropper-tool="<script src='#rootUrl()/js/plugins/cropper/cropper-tool.js'></script>")
#set($Jcropper-tool1="<script src='#rootUrl()/js/plugins/cropper/cropper-tool1.js'></script>")
##setting
#set($Jsetting="<script src='#rootUrl()/js/setting.js'></script>")
##wangEditor
#set($JwangEditor="<script src='#rootUrl()/js/plugins/wangEditor/wangEditor.min.js'></script>")
#set($Jeditor="<script src='#rootUrl()/js/plugins/wangEditor/edite.js'></script>")
##cookie
#set($Jcookie="<script src='#rootUrl()/js/plugins/cookie/jquery.cookie.js'></script>")
##article_tool
#set($Jarticle_tool="<script src='#rootUrl()/js/diary/article_tool.js'></script>")
##comment
#set($Jarticle_comment="<script src='#rootUrl()/js/diary/article_comment.js'></script>")
##时间转换器
#set($Jtime="<script src='#rootUrl()/js/plugins/time/time.js'></script>")
##挂件
#set($Jhanger="<script src='#rootUrl()/js/site/hanger.js'></script>")