

#macro(html_doctype)
##<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE HTML>
<html lang="zh">	
#end

#macro(rootUrl)
$link.getRoot()#end

#macro(bootstrap)
   <link href="#rootUrl()/css/bootstrap.min.css" rel="stylesheet">
   <link href="#rootUrl()/css/plugins/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="#rootUrl()/css/animate.css" rel="stylesheet">   
#end

#macro(jquery)
<!-- Mainly scripts -->
<script src="#rootUrl()/js/jquery-2.1.4.min.js"></script>
<script src="#rootUrl()/js/bootstrap.min.js"></script>
<script src="#rootUrl()/js/plugins/metisMenu/jquery.metisMenu.js"></script>          <!--创建手风琴效果的可折叠菜单-->
<script src="#rootUrl()/js/plugins/slimscroll/jquery.slimscroll.min.js"></script> 
#end

 
#macro(show_error_msg)
#if($messages.exist())
	<div class="error_msg"><b>$!messages.getAll()</b></div>
#end
#end

#macro(calendar_setup $__inputField $__displayArea $__button)
<script type="text/javascript" type="text/javascript">
    Calendar.setup({
        inputField     :    "$__inputField",
        ifFormat       :    "%Y-%m-%d",
        displayArea    :    "$__displayArea",
        daFormat       :    "%Y-%m-%d",
        button         :    "$__button",
        align          :    "Tl",
        singleClick    :    true
    });
</script>
#end
 
#macro(alert_msg $__key)						
#if($messages.exist($__key))
<script language="javascript">
	alert("$messages.get($__key)");									
</script>
#end
#end
 
#macro(show_msg_box $__msg)
<div class="msgbox">
	${__msg}<br/><br/><a href="#" onclick="history.go(-1);return false;">上一页</a>&nbsp;<a href="$dlog.root()/">回到首页</a>
</div>
<div class="spacer_1"></div>
#end

#macro(struts_message $__key)
#if($messages.exist($__key))&nbsp;<font color="red"><b>$!messages.get($__key)</b></font>#end
#end

#macro(invoke $__p_page)
#if($__p_page.startsWith("/"))
#parse($__p_page)
#else
#set($uri = $dlog.current_template())
#set($path = $uri.substring(0, $uri.lastIndexOf("/")))
#parse("$path/$__p_page")
#end
#end
 
#macro(insert $__p_page)
    #if($__p_page.startsWith("/"))
    	#include($__p_page)
    #else
        #set($uri = $dlog.current_template())
        #set($path = $uri.substring(0, $uri.lastIndexOf("/")))
        #include("$path/$__p_page")
    #end
#end

#macro(select_layout $__p_page)
    #if($g_site)
        #if($dlog.not_empty(${g_site.style.layout}))
    		#set($layout="${g_site.style.layout}/$__p_page")
        #else
    		#set($layout="1/$__p_page")
        #end
    #else
    	#set($layout="dlog.vm")
	#end
#end

#macro(select_css)
<link href="$dlog.root()/styles/global.css" rel="stylesheet" type="text/css" />
<link href="$dlog.site_css($g_site)" rel="stylesheet" type="text/css" /> 
#end

#macro(richeditor $field_name)
var oFCKeditor = new FCKeditor( '$field_name' ) ;
oFCKeditor.BasePath = '$dlog.root()/fckeditor/';
#end