#set($layout = "layout/index.vm")
#set($page_title="修改密码")
#set($extjs="<!--javascrpt-plugins-layer--><script src='#rootUrl()/js/plugins/layer/layer.js'></script><script src='#rootUrl()/js/user-check.js'></script>")

<!--主体部分-->
        <div class="middle-box text-center loginscreen  animated fadeInDown">
            <div>
                <h2>欢迎光临</h2>
                <h3>请输入您的新密码</h3>				
                <p id="error_text" class="text-danger text-left"></p>
                <form class="m-t" role="form" id="changeform" action="#rootUrl()/forgot/change">
                    <div class="form-group">                       
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="" value="$username"  disabled  />                                                    
                    </div>
					<div class="form-group">
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="新密码" required="" >
						<input type="hidden" id="prev_url" name="prev_url" value='$prev_url' />
						<input type="hidden" id="uid" name="uid" value="$uid"/>
                    </div>
                    <div class="form-group">                       
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="再次输入密码"   />
                                                    
                    </div>
                    <button type="button" id="newpwd" class="btn btn-primary block full-width m-b">立即验证</button>


                    </p>

                </form>
            </div>
        </div>
       <!--主体部分-->
