#set($layout = "layout/index.vm")
#set($page_title="找回密码")
#set($extjs="<!--javascrpt-plugins-layer--><script src='#rootUrl()/js/plugins/layer/layer.js'></script><script src='#rootUrl()/js/user-check.js'></script>")

<!--主体部分-->
        <div class="middle-box text-center loginscreen  animated fadeInDown">
            <div>
                <h3>找回密码</h3>
                <p id="error_text" class="text-danger text-left"></p>
                <form class="m-t" role="form" id="forgotform" action="#rootUrl()/forgot/result">
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required="" onblur="usercheck(this)">
							<input type="hidden" id="prev_url" name="prev_url" value='$prev_url' />
                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-lg-7 col-sm-7 col-xs-7 has-feedback">

                                <input type="text" class="form-control" id="verifyCode" name="verifyCode"
                                       placeholder="验证码"   />
								<span id="feedback-verifyCode" class="form-control-feedback glyphicon"></span>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
                                <img id="CreateCheckCode" alt="验证码" src="#rootUrl()/servlet/verify.img" onclick="this.src=this.src+'?'"/>
                                <a href="javascript:document.getElementById('CreateCheckCode').onclick()" >换一张</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="check" class="btn btn-primary block full-width m-b">立即验证</button>


                   

                </form>
            </div>
        </div>
       <!--主体部分-->
