#set($layout = "layout/user/l_user.vm")
#set($page_title="$author.BSiteDto.title")
 #if($author.username==$user.username)
#parse("conf/js.vm")
#parse("conf/css.vm")
#set($extjs=$Jcropper+$Jcropper-tool)
#set($extcss=$Ccropper)
#parse("layout/user/l_avatar.vm")
#end

 <div class="row">
                <div class="col-md-3 no-padding-min">
                    <div class="ibox">
                    <div class="ibox-title">个人资料</div>
                    <div class="ibox-content">
                      <h1 class="text-center"> $author.nickname</h1>
                        <p class="text-center"><a class="btn btn-success">关注</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-success">消息</a></p>
                        <div id="data">
                            <p>性别：#if($author.sex==1) 男  #elseif($author.sex==0) 女 #else 保密  #end</p>
                            <p>等级：#if($author.SysRankDto.name) $author.SysRankDto.name #else 0 #end </p>
                            <p>粉丝：#if($author.fans) $author.fans #else 0 #end</p>
                            <p>关注：#if($author.follows) $author.follows #else 0 #end</p>
                            <p>日志：#if($author.articleCount) $author.articleCount #else 0 #end </p>
                            <p>图片：#if($author.imageCount) $author.imageCount #else 0 #end</p>
                            
                            <p class="pull-right"><a>更多<i class="fa fa-angle-double-right"></i></a></p>
                        </div>
                    </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">用户好友</div>
                        <div class="ibox-content">
                            测试
                        </div>
                    </div>
					 <div class="ibox">
                        <div class="ibox-title">最近访客</div>
                        <div class="ibox-content">
                            测试
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding-min">
                    <div class="ibox">
                        <div class="ibox-content">
                            日志一
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-content">
                            日志二
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding-min">
                    <div class="ibox">
                        <div class="ibox-title">社团</div>
                        <div class="ibox-content">社团活动</div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">日志</div>
                        <div class="ibox-content">日志列表</div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">图片</div>
                        <div class="ibox-content">日志<br>列表</div>
                    </div>
                </div>
				</div>  				