#set($layout = "layout/user/l_user.vm")
#set($page_title=$diary.title+"-"+$author.nickname)

#parse("conf/js.vm")
#set($extjs=$JwangEditor+$Jarticle_comment+$Jlayer+$Jarticle_tool)
#parse("conf/css.vm")
#set($extcss=$CwangEditor)

<!--日志详情-->
<div class="row">
	 <div class="article">

                            <div class="ibox-title"><p><input type="hidden" name="dairy_id" value="$diary.diaryId"><h2>$diary.title <small><a href="#rootUrl/$diary.UUserDto.nickname/article?page=$diary.page" class="pull-right  text-info">返回文章列表</a></small></h2></p>
									<span><small class="small text-info">$date.format('yyyy/MM/dd HH:mm:ss',$diary.writeTime)</small></span>
                                #parse("layout/diary/l_article_tool.vm")
							</div>	
                            <div class="article-content">

                                
                                <div id="content">
                                    $diary.content
                                </div>
                            </div>
                            <div class="ibox-content ">
                               #parse("layout/diary/l_article_tool.vm")
								<div><a>$diary.DCatalogDto.catalogName</a>|<a>$diary.sysTypeDto.name</a>|标签|原创</div>
                                <div><h4>签名档：</h4>
                                    <p>#if($author.USignDto.content) $author.USignDto.content #end</p>
                                </div>
                                <hr class="no-margins">
                                <a  data-toggle="collapse"
                                        data-target="#more_diary">
                                    热门日志：<i class="fa fa-caret-right"></i>
                                </a>
                                <div id="more_diary" class="collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item no-borders">1</li>
                                    </ul>
                                </div>
                                <hr >
                                <div class="ibox-title no-borders" id="DComment">评论</div>
                                  #parse("layout/diary/l_article_comment.vm")
								</div>
                            </div>

                        </div>
							</div>