#set($layout = "layout/user/l_user.vm")
#set($page_title="文字编写-"+"$user.nickname")

#parse("conf/js.vm")
#set($extjs=$JwangEditor+$Jeditor+$Jlayer)
#parse("conf/css.vm")
#set($extcss=$CwangEditor)

<!--文字编辑器-->
 <div class="ibox">
                            <form class="form-horizontal" id="article_add_form" data-url="$link.getContextURL()/$user.nickname/article/details" action="$link.getContextURL()/$user.nickname/article/article_save">
                            <div class="ibox-title">写日志
                            <div class="pull-right">草稿箱|帮助</div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
									#if($diary)
                                    <input type="hidden" name="diaryId" id="diaryId" value="$diary.diaryId"/>
									<input type="text" id="title" name="title" class="form-control" placeholder="文章标题" value="$diary.title"/>
                                    #else
                                    <input type="text" id="title" name="title" class="form-control" placeholder="文章标题" />
									#end
									#if($diary.ext2&&$diary.ext2!=0)
									<input type="hidden" name="diaryId1" id="diaryId1" value="$diary.ext2"/>
									<input type="hidden" name="draft_box" value="1"/>
									#end
                                </div>
                                <div class="form-group">
									
									<div id="textarea1" style="height:400px;max-height:500px;">
                                       #if($diary.content)
										$diary.content
										#end
                                    </div>
                                </div>
								<div class="form-group">
                                   
                                    <label class="checkbox-inline">
										#if($diary.contribute)
											<input type="checkbox" name="contribute" #if($diary.contribute==0) value="0" #else value="1" checked #end >
										#else
                                        <input type="checkbox" name="contribute" #if($contribute.value==0) value="0" #else value="1" checked #end >
                                        #end
										<span>允许投稿到我的社团和首页</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    分类：
                                    <select  name="DCatalogDto.catalogId">
										#foreach($catalog in $catalogList)
											#if($catalog.catalogId==$diary.DCatalogDto.catalogId)
											<option value="$catalog.catalogId" selected>$catalog.catalogName</option>	
											#else
											 <option value="$catalog.catalogId">$catalog.catalogName</option>
											 #end
										#end
                                        
                                    </select>
                                </div>
                                <div class="form-group">
									文章类型：
									<select name="sysTypeDto.typeId">
										<option ></option>
                                    #foreach($sysType in $sysTypeList)
										#if($sysType.typeId==$diary.sysTypeDto.typeId)
											<option value="$sysType.typeId" selected>$sysType.name</option>
										#else
                                        <option value="$sysType.typeId">$sysType.name</option>
										#end
									#end
                                    </select>
									（请选择文章类型，这样便于系统更好的把您的文章分类）
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" >发布</button>
                                    <button type="button" id="draft_save" data-url="$link.getContextURL()/$user.nickname/article/article_draft_save" class="btn btn-default pull-right" >存草稿</button>
								  <span class="pull-right">&nbsp; &nbsp;</span> <button type="button" id="preview" data-url="" class="btn btn-default pull-right" >预览</button>
                                </div>
                            </div>
                            </form>
                        </div>
