#set($layout = "layout/user/l_user.vm")
#set($page_title="文章列表-"+"$author.nickname")
#parse("conf/js.vm")
#set($extjs=$Jlayer+$Jarticle_tool)

<!--日志列表-主体开始-->
<div class="row">
    <div class="ibox">
        <div class="ibox-title">
			#parse("layout/diary/l_article_menu.vm")
</div>

         <div class="ibox-content">
             <div class="row">
                <div class="col-md-9">
					<div id="diary_list">
						#if($diarys)
						<input id="page" type="hidden" value="$diarys[0].page">
						<input id="pageCount" type="hidden" value="$diarys[0].pageCount">
						<input id="role" type="hidden" value="$role">
                    <ul class="list-group">
                        #foreach($diary in $diarys)
                        <li id="$diary.row" class="list-group-item"><a href="#rootUrl/$author.nickname/article/details/$diary.diaryId">$diary.title</a>
                            #if($user.userId==$author.userId)
                        <span class="pull-right dropdown">&nbsp;
							<a class="dropdown-toggle active" href="#rootUrl()/$author.nickname/article/article_edite/$diary.diaryId" data-toggle="data-toggle">编辑<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li id="d_modify" name="d_modify"><a href="#rootUrl()/$author.nickname/article/article_edite/$diary.diaryId">编辑</a></li>
                                            <li id='d_toCommen' name='d_toCommen'><a data-url='#rootUrl()/$author.nickname/article/tocommen/$diary.diaryId' href='javascript:;' >公开发布文章</a></li>
											<li id="d_toTrash" name="d_toTrash"><a data-url="#rootUrl()/$author.nickname/article/totrash/$diary.diaryId" href="javascript:;">删除</a></li>
                                            <li id="d_delete" name="d_delete"><a data-url="#rootUrl()/$author.nickname/article/todelete/$diary.diaryId" href="javascript:;">彻底删除</a></li>
											<li id="d_private" name="d_private"><a data-url="#rootUrl()/$author.nickname/article/toprivate/$diary.diaryId" href="javascript:;">转为私密文章</a></li>
                                        </ul></span>
                            #end
                            <div class="pull-right">$date.format('yyyy/MM/dd',$diary.writeTime)&nbsp;($diary.replyCount/$diary.viewCount)</div>
                        </li>
                        #end
                    </ul>
									
					#end
					</div>
					<!--文章分页-->
					<div id="diary_pagination" class="text-center" data-url="#rootUrl/$author.nickname/article/article_list"></div>
                </div>
                <div class="col-md-3">
					<div id="catalog" data-url="#rootUrl/$author.nickname/article/catalog">
					#if($catalogs)
                    <ul class="list-group">
						<li class="list-group-item"><h4 class="list-group-item-heading text-info">文章分类</h4></li>
                        #foreach($catalog in $catalogs)
						#if($catalog.catalogName=="全部文章")	
						<li class="list-group-item"><span>$catalog.catalogName</span><span class="pull-right">($catalog.articleCount)</span></li>	
						#else							
                        <li id="catalog${catalog.catalogId}" class="list-group-item"><a><span>$catalog.catalogName</span><span class="pull-right">($catalog.articleCount)</span></a></li>
						#end
						#end
                    </ul>
					#end
					</div>
                </div>
             </div>
            </div>

    </div>
</div>
<!--日志列表-主体结束-->