#set($layout = "layout/index.vm")
#set($page_title="头像设置-"+$user.nickname)
#parse("conf/js.vm")
#set($extjs=$Jcropper+$Jcropper-tool1+$Jlayer)
#parse("conf/css.vm")
#set($extcss=$Ccropper)

<div class="row"> 
    <div class="col-md-4">
    <div class="ibox">
        <div class="ibox-content">
    <ul class="nav nav-pills nav-stacked ">
        <li ><a href="#rootUrl()/$user.nickname/set/index">基本信息</a></li>
        <li ><a href="#rootUrl()/$user.nickname/set/site">空间设置</a></li>
        <li class="active"><a href="#rootUrl()/$user.nickname/set/avatar">用户头像</a></li>
        <li class="hidden"><a href="#rootUrl()/$user.nickname/set/privacy">隐私设置</a></li>
        <li class="hidden"><a>消息设置</a></li>
        <li class="hidden"><a>偏好设置</a></li>
    </ul>
        </div>
    </div>
</div>
<div class="col-md-8">
<div class="ibox">
    <div class="ibox-title">头像设置</div>
<div class="ibox-content">
    <form class="avatar-form" id="avatar_form" action="#rootUrl()/$user.nickname/image/updateuserlogo" enctype="multipart/form-data" method="post">
        <div class="modal-body">
            <div class="avatar-body">

                <!-- Upload image and data -->
                <div class="avatar-upload">
                    <input class="avatar-src" name="avatar_src" type="hidden"/>
                    <input class="avatar-data" name="avatar_data" type="hidden"/>
                    <label for="avatarInput">头像上传</label>
                    <input class="avatar-input " id="avatarInput" name="avatar_file" type="file" accept="image/*"/>
                </div>

                <!-- Crop and preview -->
                <div class="row">
                    <div class="col-md-9">
                        <div class="avatar-wrapper">
                            <img id="image" #if($user.BSiteDto.logo)  src="#rootUrl()/$user.BSiteDto.logo" #else src="#rootUrl()/images/face.png" #end  alt="Picture">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!--<div class="avatar-preview preview-lg"></div>-->

                        <div class="avatar-preview preview-md"></div>
                        <label>100*100</label>

                        <div class="avatar-preview preview-sm"></div>
                        <label>50*50</label>

                        <div class="avatar-preview preview-xs"></div>
                        <label>30*30</label>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="dataX">X</label>
                            <input type="text" class="form-control" id="dataX" name="x" placeholder="x"   readonly="readonly">
                            <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="dataY">Y</label>
                            <input type="text" class="form-control" id="dataY" name="y" placeholder="y" readonly="readonly">
                            <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="dataWidth">宽</label>
                            <input type="text" class="form-control" id="dataWidth" name="width" placeholder="width" readonly="readonly">
                            <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="dataHeight">高</label>
                            <input type="text" class="form-control" id="dataHeight" name="height" placeholder="height" readonly="readonly">
                            <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="dataRotate">Rotate</label>
                            <input type="text" class="form-control" id="dataRotate" name="degree" placeholder="degree" readonly="readonly">
                            <span class="input-group-addon">deg</span>
                        </div>
                               <div class="input-group input-group-sm hidden">
                                    <label class="input-group-addon" for="dataScaleX">ScaleX</label>
                                    <input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
                                </div>
                                <div class="input-group input-group-sm hidden">
                                    <label class="input-group-addon" for="dataScaleY">ScaleY</label>
                                    <input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
                                </div>

                    </div>
                </div>

                <div class="row avatar-btns ">
                    <div class="col-md-9 docs-buttons">
                        <div class="btn-group">
                            <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">向左旋转</button>
                            <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                            <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                            <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">向右旋转</button>
                            <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                            <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                            <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block avatar-save" id="upload" type="button">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
</div>	
</div>
</div>