#set($layout = "layout/index.vm")
#set($page_title="隐私设置-"+$user.nickname)

<div class="row"> 
    <div class="col-md-4">
    <div class="ibox">
        <div class="ibox-content">
    <ul class="nav nav-pills nav-stacked ">
        <li ><a href="#rootUrl()/$user.nickname/set/index">基本信息</a></li>
        <li ><a href="#rootUrl()/$user.nickname/set/site">空间设置</a></li>
        <li ><a href="#rootUrl()/$user.nickname/set/avatar">用户头像</a></li>
        <li class="active"><a href="#rootUrl()/$user.nickname/set/privacy">隐私设置</a></li>
        <li class="hidden"><a>消息设置</a></li>
        <li class="hidden"><a>偏好设置</a></li>
    </ul>
        </div>
    </div>
</div>
<div class="col-md-8">
<div class="ibox">
            <div class="ibox-title">隐私设置</div>
            <div class="ibox-content">
                <form role="form" class="form-horizontal" action="">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否允许日志评论</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline">
                                <input type="radio" name="reply_rodio" id="reply_yes" value="1" > 是
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="reply_rodio" id="reply_no" value="0"> 否
                            </label>
                            <input type="hidden" name="content_reply" id="content_reply" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否关闭空间</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline">
                                <input type="radio" name="on|off_rodio" id="on" value="1" > 是
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="on|off_rodio" id="off" value="0"> 否
                            </label>
                            <input type="hidden" name="on|off" id="on|off" value="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-3">
                            <button type="submit" class="btn btn-info">确定</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
</div>