#set($layout = "layout/index.vm")
#set($page_title="空间设置-"+$user.nickname)
#parse("conf/js.vm")
#set($extjs=$Jsetting+$Jlayer+$Jcookie)

<div class="row"> 
    <div class="col-md-4">
    <div class="ibox">
        <div class="ibox-content">
    <ul class="nav nav-pills nav-stacked ">
        <li ><a href="#rootUrl()/$user.nickname/set/index">基本信息</a></li>
        <li class="active"><a href="#rootUrl()/$user.nickname/set/site">空间设置</a></li>
        <li ><a href="#rootUrl()/$user.nickname/set/avatar">用户头像</a></li>
        <li class="hidden"><a href="#rootUrl()/$user.nickname/set/privacy">隐私设置</a></li>
        <li class="hidden"><a>消息设置</a></li>
        <li class="hidden"><a>偏好设置</a></li>
    </ul>
        </div>
    </div>
</div>
<div class="col-md-8">
 <div class="panel-body">
            <div class="panel-group" id="version">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#version" href="#title" ><apan class="pull-left">空间标题</apan>标题<code class="pull-right">编辑</code></a>
                        </h5>
                    </div>
                    <div id="title" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal" id="title_form" action="#rootUrl()/$user.nickname/set/updateSiteInfo">
                                <h5>您个人空间的标题，最长不得超过10个字</h5>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">标题</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox-inline">
											<input type="hidden" name="siteId" value="$user.BSiteDto.siteId">
                                            <input type="text" name="title" class="form-control" placeholder="请输入标题，长度10" #if($user.BSiteDto.title) value="$user.BSiteDto.title" #end>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-3">
                                        <button type="submit" class="btn btn-info">确定</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#version" href="#pull" ><apan class="pull-left">文章状态</apan><span>是否可投递</span><code class="pull-right">编辑</code></a>
                        </h5>
                    </div>
                    <div id="pull" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal" id="pull_form" action="#rootUrl()/$user.nickname/set/pullConfig">
                                <h5>系统默认您的文章为可投递状态(即您可以投递你的文章到文学社或平台首页)，您可以通过下面的选择进行修改</h5>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">投递状态</label>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline">
                                            <input type="radio" name="pull_rodio" id="pull_yes" value="1" checked="checked"> 是
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="pull_rodio" id="pull_no" value="0"> 否
                                        </label>
                                        <input type="hidden" name="configId" #if($allow_pullConfig.bconfigId) value="$allow_pullConfig.bconfigId" #end>
										<input type="hidden" name="configKey" value="allow_pull"/>
                                        <input type="hidden" name="pull_status" id="pull_status" #if($allow_pullConfig.value) value="$allow_pullConfig.value" #else value="1" #end>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-3">
                                        <button type="submit" class="btn btn-info">确定</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#version" href="#catalog"><apan class="pull-left">文章分类</apan>目录<code class="pull-right">编辑</code></a>
                        </h5>
                    </div>
                    <div id="catalog" class="panel-collapse collapse">
                            <div class="panel-body">

                                <h4 class="text-info">文章目录管理</h4>
                               <ul class="list-group">
								#foreach($catalog in $catalogList)
									#if($catalog.catalogId)
									#if($catalog.catalogName=="个人日记")
										<li class="list-group-item" id="$catalog.catalogId">个人日记(此分类不支持编辑及删除)</li>
									#else
										<li class="list-group-item" id="$catalog.catalogId">
                                    <form  class="form-horizontal hidden" action="#rootUrl()/$user.nickname/set/setCatalog?UUserDto.userId=$user.userId&catalogId=$catalog.catalogId" ><div class='form-group'><div class='col-sm-5'><input type='text' name='catalogName' data-url='#rootUrl()/$user.nickname/set/checkCatalog?UUserDto.userId=$user.userId' class='form-control' value="$catalog.catalogName"></div> <input type="button" name='sure' class='btn btn-info' value="确定" /> &nbsp;&nbsp;<input type="button" name='reset' class='btn btn-info' value="取消"/></div></form>

                                    <div class=""><span>$catalog.catalogName</span><a class="pull-right" title="delete" href="javascript:;" data-url="#rootUrl()/$user.nickname/set/setCatalog?UUserDto.userId=$user.userId&catalogId=$catalog.catalogId&status=delete"  >删除</a>&nbsp;&nbsp;<a class="pull-right" href="javascript:;"  title="edite" >编辑</a>
                                    </div>
                                   </li>
									#end
								#end
                                 #end
                                   <li class="list-group-item hidden" id="catalog_new" >
                                     <form  class="form-horizontal" action="#rootUrl()/$user.nickname/set/setCatalog?UUserDto.userId=$user.userId" ><div class='form-group'><div class='col-sm-5'><input type='text' name='catalogName' data-url='#rootUrl()/$user.nickname/set/checkCatalog?UUserDto.userId=$user.userId' class='form-control' value=''></div> <input type="submit"  class='btn btn-info' value="确定" /> &nbsp;&nbsp;<input type="button" name='reset' class='btn btn-info' value="取消"/></div></form>
									</li>
                               </ul>
                                <a id="catalog_add" class="text-danger" href="javascript:;">添加分类</a>
                                <p><p>
                               <div ><p>温馨提示:<br>
                              点击分类名称或编辑按钮可修改日志分类名称，点击保存按钮即可生效。<br>
                               请您注意，分类名称长度不超过12个英文字母或6个汉字长度。<br>
                               若删除日志分类，则该分类下的所有日志将自动迁移到“个人日记”分类下。</p>
                               </div>

                        </div>
                    </div>
                </div>
               

            </div>
        </div>
</div>
</div>