 <header style="position:relative;top:0px;">
        <div class="navbar">
            <div class="navbar navbar-inverse">

                <!-- 	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                    -->
                <a class="navbar-brand" href="#">文学社网站</a>
                <a id="search-xs"  href="#" class="navbar-brand pull-right visible-xs">
                    <span class="glyphicon glyphicon-search"></span></a>
                <script type="text/javascript">
                    $("#search-xs").click(function(){
                        $("#search-xs").add('<form action=\"\" role=\"form\"><input type=\"text\" class=\"input\" placeholder=\"search\"/></form>');
                        $("#search-xs").add('12345');
                        <!--v	this.innerHTML("12345");-->
                        $("#search-xs").css({display:'none'});
                    });


                </script>
                <div class="navbar-collapse collapse">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#about">文字</a></li>
                        <li><a href="#contact">社团</a></li>
                        <!--      <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">企业</a></li>
                                  <li><a href="#">商户</a></li>
                                  <li><a href="#">服务网站</a></li>
                                  <li class="divider"></li>
                                  <li class="nav-header">灰掉</li>
                                  <li><a href="#">分割线1</a></li>
                                  <li><a href="#">分割线2</a></li>
                                </ul>

                              </li>-->
                        <li class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        
							#if($user.username)
							<li class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>$user.username <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">个人主页</a></li>
                                  <li><a href="#">信息资料</a></li>
                                  <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
                                </ul>

                              </li>
								#else
								<li><a>登陆</a></li>|<li></a>注册</a></li>
									#end
													
                        <li class="pull-right"><a><form action="" role="form">
						    <input type="text" class="input" placeholder="search"/>
                            <button type="submit" class=""><span class="glyphicon glyphicon-search"></span></button>             
         </form></a></li>


                    </ul>
                </div>
                <div>
                </div>

    </header>