<header>
    <!--主导航-->
    <div class="row border-bottom white-bg">
        <nav class="navbar  navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar1" data-toggle="collapse" class="navbar-toggle collapsed" type="button" id="user">
                    <i class="fa fa-user"></i>
                </button>

                <button  aria-controls="navbar" aria-expanded="false" data-target="#search" data-toggle="collapse" class="navbar-toggle collapsed" type="button" id="top-search">
                    <i class="fa fa-search"></i>
                </button>
                <a href="$link.getContextURL()" class="navbar-brand">文学社网站</a>
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a aria-expanded="false" role="button" href="$link.getContextURL()"><i class="fa fa-home"></i> 首页</a>
                    </li>
                    <li >
                        <a aria-expanded="false" rele="button" href="#"><i class="fa fa-inbox"></i>社团</a>
                    </li>
                    <li>
                        <a aria-expanded="false" rele="button" href="#"><i class="fa fa-edit"></i>文字</a>
                    </li>

                </ul>
				
				#if(!$user.nickname)
                <ul class="nav navbar-top-links navbar-right">

                    <li ><a href="$link.getContextURL()/login">登陆</a></li>
                    <li><a href="$link.getContextURL()/register">注册</a></li>
                </ul>
				#else
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user">$user.nickname</i> <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="">个人中心</a>
                            </li>
                            <li><a href="">写日志</a>
                            </li>
                            <li><a href="">消息</a>
                            </li>
							<li><a href="$link.getContextURL()/change/newpassword">修改密码</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="$link.getContextURL()/logout">
                            <i class="fa fa-sign-out"></i> 退出
                        </a>
                    </li>
                </ul>
				#end
                <form action="" class="navbar-form navbar-right hidden-xs" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="button" class="btn btn-sm btn-primary">搜索</button>

                    </div>

                </form>
            </div>
        </nav>
    </div>
<!--主导航栏-结束-->
</header>