#set($disable_seachable=true)

#html_doctype()
<head>
	#parse("layout/head.vm")
</head>
<body class="top-navigation gray-bg" >
<div id="wrapper">
<div id="page-wrapper">
#parse("layout/header.vm")
    <div class="wrapper wrapper-content">
        <div class="container">
      $screen_content
        </div>
	</div>
#parse("layout/footer.vm")	
</div>
</div>
#jquery
<!-- Custom and plugin javascript -->
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/main.js"></script>
$extjs
</body>	
</html>