#set($disable_seachable=true)

#html_doctype()
<head>
	#parse("layout/head.vm")
</head>
<body class="top-navigation gray-bg" >
#parse("layout/header.vm")
<div id="wrapper">
<div id="page-wrapper">
#if($carousel)
	#parse("layout/carousel.vm")
#end
#if($rank)
	#parse("layout/rank.vm")
	#end
    <div class="wrapper wrapper-content">
        <div class="container">
      $screen_content
        </div>
	</div>

</div>
</div>
#parse("layout/footer.vm")	
#jquery
<!-- Custom and plugin javascript -->
<script src="#rootUrl()/js/plugins/pace/pace.min.js"></script>
<script src="#rootUrl()/js/main.js"></script>
#if($extjs)
$extjs
#end
</body>	
</html>