 <div class="weather-module " id="weather-module">
                                <div class="other-info" id="weather-info">
                                    <div class="shadow-wrapper city-wrapper" title="厦门" id="weather_city_name">
                                        <p class="city textoverflow">厦门</p>
                                     </div>
                                    <div class="shadow-wrapper date-wrapper">
                                        <p class="date">4月29日</p>

                                    </div>
                                </div>
                                <div class="weather-temperature shadow-wrapper">
                                    <h5 class="temperature-num">23</h5>

                                    <span class="temperature-unit">°</span>
                                   <!-- <span class="anti-text anti-temperature-unit">°</span>-->
                                </div>
                                <img class="weather-icon" src="http://ctc.qzonestyle.gtimg.cn/aoi/img/weather/weather-cloudy-sunny.png" alt="" title="多云">
                            </div>