#set($disable_seachable=true)

#html_doctype()
<head>
	#parse("layout/head.vm")
</head>
<body class="top-navigation gray-bg" >
<div id="wrapper">
<div id="page-wrapper">
#parse("layout/header.vm")

    <div class="wrapper wrapper-content">
        <div class="container">
			<div class="row"> <div class="col-md-4">
    <div class="ibox">
        <div class="ibox-content">
    <ul class="nav nav-pills nav-stacked ">
        <li class="active"><a>基本信息</a></li>
        <li ><a>用户头像</a></li>
        <li><a>隐私设置</a></li>
        <li><a>消息设置</a></li>
        <li><a>偏好设置</a></li>
    </ul>
        </div>
    </div>
</div>
<div class="col-md-8">
      $screen_content
	  </div>
        </div>
	</div>

</div>
</div>
#parse("layout/footer.vm")	
#jquery
<!-- Custom and plugin javascript -->
<script src="$link.getContextURL()/js/plugins/pace/pace.min.js"></script>
<script src="$link.getContextURL()/js/main.js"></script>
#if($extjs)
$extjs
#end
</body>	
</html>